<html>
    <head>
        <link rel = "stylesheet" href="/css/styles.css">
         <title>About</title>
        <link rel="icon" href = "/img/weather.png">
    </head>

    <body>
        {{>header}}
        <p>This Application was created by G Sakthi Ganesh. This application uses data from mapbox and Darknetsky!!</p>
            <img class="portrait" src="/img/node_img.jpg"> 
         {{>footer}}
    </body>
</html>