<html>
    <head>
        <link rel = "stylesheet" href="/css/styles.css">
         <title>Help</title>
        <link rel="icon" href = "/img/weather.png">
    </head>

    <body>
        <div class="main-content">
         {{>header}} 
        <h3>{{title}}</h3>

        </div>
         {{>footer}}
    </body>
</html>